.background {
    background: linear-gradient(45deg, #ff00d4, #1c00ff);
    background-size: 400% 400%;

    -webkit-animation: Backgroundanimmation 30s ease infinite;
    -moz-animation: Backgroundanimmation 30s ease infinite;
    animation: Backgroundanimmation 30s ease infinite;

    height: 100%;
    width: 100%;

    > span { 
        position: absolute;
        top: 10px;

        li {
            cursor: pointer;
            color: white;
            display: inline;
            list-style-type: none;
            margin-left: 10px;
            padding: 5px;

            &:hover {
                border-radius: 5px;
                background-color: rgba(78, 78, 78, 0.2);
            }
        }
    }
}

.main {
    text-align: center;
    color: white;
    padding: 40vw 0 0;
}


h1, p {
    font-size: 35px;
    margin: auto;
    padding: 10px;

    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    animation: fadein 1s;
    animation-delay: 0.1s;
}



p {
    margin: 10px auto;
    font-size: 30px;
    color: lightgrey;
    display: none;
}


@media screen and (min-width: 722px) {

    .main {
        padding: 24vw 0 0;
    }
    
    h1 {
        font-size: 40px;
    }

    p {
        display: inline-block;
    }
}
p#home:visited   {
    background-color: #66a7eb; 
    color: white;
}